<div class="container">
    <h1>Ultimate Tic-Tac-Toe</h1>

    <table class="ultBoard">
        <tr>
            <td class="ultBoardTd">
                <app-board [boardId]=0></app-board>
            </td>
            <td class="ultBoardTd">
                <app-board [boardId]=1></app-board>
            </td>
            <td class="ultBoardTd">
                <app-board [boardId]=2></app-board>
            </td>
        </tr>
        <tr>
            <td class="ultBoardTd">
                <app-board [boardId]=3></app-board>
            </td>
            <td class="ultBoardTd">
                <app-board [boardId]=4></app-board>
            </td>
            <td class="ultBoardTd">
                <app-board [boardId]=5></app-board>
            </td>
        </tr>
        <tr>
            <td class="ultBoardTd">
                <app-board [boardId]=6></app-board>
            </td>
            <td class="ultBoardTd">
                <app-board [boardId]=7></app-board>
            </td>
            <td class="ultBoardTd">
                <app-board [boardId]=8></app-board>
            </td>
        </tr>
    </table>

</div>